# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea/DataStruture_03.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

cmake-build-debug/.cmake/api/v1/query/cache-v2

cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1

cmake-build-debug/.cmake/api/v1/query/codemodel-v2

cmake-build-debug/.cmake/api/v1/query/toolchains-v1

cmake-build-debug/.cmake/api/v1/reply/cache-v2-9809d5ea56b1fc72ee96.json

cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f61e2f7461a2eb3ad47a.json

cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-7ff69076cbba5edae6f0.json

cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json

cmake-build-debug/.cmake/api/v1/reply/index-2023-05-22T04-13-10-0149.json

cmake-build-debug/.cmake/api/v1/reply/target-DataStruture_03-Debug-726e85aaac4d97e072d2.json

cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-b23aa82067ba37722433.json

cmake-build-debug/.ninja_deps

cmake-build-debug/.ninja_log

cmake-build-debug/build.ninja

cmake-build-debug/cmake_install.cmake

cmake-build-debug/CMakeCache.txt

cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake

cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin

cmake-build-debug/CMakeFiles/3.25.2/CMakeRCCompiler.cmake

cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake

cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c

cmake-build-debug/CMakeFiles/clion-Debug-log.txt

cmake-build-debug/CMakeFiles/clion-environment.txt

cmake-build-debug/CMakeFiles/cmake.check_cache

cmake-build-debug/CMakeFiles/CMakeOutput.log

cmake-build-debug/CMakeFiles/rules.ninja

cmake-build-debug/CMakeFiles/TargetDirectories.txt

cmake-build-debug/Testing/Temporary/LastTest.log
